<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login to your account:</h1>
    <form method='POST' action='/myshelf'>
        <label>Username: </label><input type="text" name='user' id='user'>
        <label>Password: </label><input type="text" name='pass' id='pass'>
        <input type='submit' name='submit' id='submit'>
    </form>
    <script src='../sendCreds.js'></script>
</body>
</html>