body {
    background-image: linear-gradient(#00000099, #00000099), url(img/pexels-element-digital-1370295.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
  }
  
  .title {
    text-align: center;
    color: white;
    font-size: x-large;
  }
  
  .field {
    margin-bottom: .75em;
  }

  
  .account-table{
    text-align: center;
    margin: auto;
    background-color: grey;
    max-width: 40%;
  }

  .accounts {
      padding-top: 20px;
  }

  td {
      border: 1px solid black;
      border-width: 3px;
  }


  
  

