body {
    background-image: linear-gradient(#00000099, #00000099), url(img/pexels-element-digital-1370295.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
  }
  
.title {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
  

  td {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid black;
    border-width: 3px;
  }

  
.account-table{
  text-align: center;
  margin: auto;
  background-color: grey;
  max-width: 40%;
  padding-top: 10px;
}

.accounts {
    padding-top: 20px;
}

h4 {
  padding-bottom: 15px;
}


  
  

