.title {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
}

.maindiv {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  margin: 0 auto;
}


td {
  font-size: 20px;
  padding-top: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.accounts {
    padding-top: 20px;
}

p {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: light;
}


.btn {
  margin-bottom: 10px;
}

footer {
  font-size: 15px;
}

.photo-credit {
  color: rgb(236, 233, 226);
}

h1{
  padding-top: 15px;
}

#bookshelf-table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;  
  text-align: center;
}

button {
  background-color: #e0de65;
}

#bookshelf-table td, #bookshelf-table th {
  border: 1px solid#ddd;
  padding: 8px;
}

#bookshelf-table tr:nth-child(even){
  background: rgba(207, 207, 207, 0.6);
}

#bookshelf-table tr:nth-child(odd){
  background: rgba(247, 247, 247, 0.6);
}

#bookshelf-table tr:hover {
  background-color: #c4c8cf;
}

#bookshelf-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #496b4f;
  color: white;
}
