h1{
  padding-top: 15px;
}

h4 {
  padding-bottom: 25px;
}

#bookshelf-table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;  
  text-align: center;
}

button {
  background-color: #e0de65;
}

#bookshelf-table td, #bookshelf-table th {
  border: 1px solid#ddd;
  padding: 8px;
}

#bookshelf-table tr:nth-child(even){
  background-color: #f2f2f2;
}

#bookshelf-table tr:nth-child(odd){
  background-color: #e3e3e3;
}

#bookshelf-table tr:hover {
  background-color: #c4c8cf;
}

#bookshelf-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #52855b;
  color: white;
}
