body {
    background-image: linear-gradient(#00000099, #00000099), url(img/pexels-element-digital-1370295.jpg);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
  }

  h1{
    padding-top: 15px;
  }

  h4 {
    padding-bottom: 25px;
  }

#bookshelf-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

button {
  background-color: #e0de65;
}

#bookshelf-table td, #bookshelf-table th {
  border: 1px solid#ddd;
  padding: 8px;
}

#bookshelf-table tr:nth-child(even){
  background-color: #f2f2f2;
}

#bookshelf-table tr:nth-child(odd){
  background-color: #e3e3e3;
}

#bookshelf-table tr:hover {
  background-color: #c4c8cf;
}

#bookshelf-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #52855b;
  color: white;
}

.footer {
  text-decoration: none;
  color: white;
}
  
.photo-credit{
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1%;
}