*{
    color:#fff;
}
body {
    background-image: linear-gradient(#00000099, #00000099), url(img/pexels-element-digital-1370295.jpg);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
  }

.title {
    text-align: center;
    font-size: x-large;
}

.field {
    margin-bottom: .75em;
}
  
label { 
    display: block; 
    margin-bottom: .10em;
}
  
.login-form {
    text-align: center;
    margin: auto;
    background-color: grey;
    max-width: 60%;
}

.loginbtn {
    margin-bottom: 1em;
}

a:link {
    text-decoration: none;
}

#homelink {
    color: black;
}

.footer {
    text-decoration: none;
}

.photo-credit{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1%;
}