.maindiv {
    text-align: center;
    padding: 100px 0;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    margin: 0 auto;
}

.btn {
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    font-weight: light;
}

footer {
    font-size: 15px;
}

.photo-credit {
    color: rgb(236, 233, 226);
}

/* .home-container {
    color: #fff;
    text-align: center;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: grey;
    max-width: 60%;
} */
