*{
    color: #fff;
}
body {
    background-image: linear-gradient(#00000099, #00000099), url(img/pexels-element-digital-1370295.jpg);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
  }

.title {
    text-align: center;
    font-size: x-large;
}
  
.home-container {
    text-align: center;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: grey;
    max-width: 60%;
}

a:link {
    text-decoration: none;
}

.footer {
    text-decoration: none;
}

.photo-credit{
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1%;
  }