body {
  background-image: linear-gradient(#00000099, #00000099), url(img/pexels-element-digital-1370295.jpg);
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
}

.signup-form{
  background-color: rgba(194, 200, 204, 0.45);
  width: 40%;
  margin: 0 auto;
  border-radius: 25px;
  text-align: center;
  padding-top: 15px;
}

p {
  color: white;
}

.field {
  margin-bottom: .75em;
}

label { 
  display: block; 
  margin-bottom: .10em;
  color: white;
  font-weight: 500;
  margin-right: 10px;
}

#signupbtn {
  margin-bottom: 1em;
  background-color: #496b4f;
  color: white;
}

.cancelbtn {
  background-color: #cc0011;
}

.signupbtn {
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

a:link {
  text-decoration: none;
}

.footer {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

#username-error {
  color: rgb(232, 0, 0);
  font-size: medium;
}

#password-error {
  color: rgb(232, 0, 0);
  font-size: medium;
}

.photo-credit{
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1%;
}